.scoreLogicContainer {
  width: 100%;
  margin-top: 25px;
  height: 100%;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
} 

table, th, td{
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.table-wrapper{
  position:relative;
  width:100%;
  height: 330px;
}

.table-scroll{
  height:100%;
  overflow:auto;  
}

.phases-div{
  width: 100%;
  margin-top: 100px;
}

.nav-button{
  width: 45%;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: lightgray;
}

.nav-button.active{
  background-color: #F39D26;
}

#phaseSlider{
  width: 100%;
}
#phaseSlider .slider-selection {
  background: #F39D26;
  
}
#phaseSlider .slider-handle {
  background: #F39D26;

}
#phaseSlider .slider-tick {
  background: gray;
}
#phaseSlider .slider-tick.round.in-selection{
  background: #F39D26;
}

#phaseSlider .slider-tick-label-container{
  margin-top: -30px;
}
#app {
  width: 100%;
  height: 100%;
}

.tables-title{
margin-top: 20px;
margin-bottom: 20px;

}

.score-table{
margin-bottom: 30px;
}
