@import "react-md-editor/dist/react-md-editor.css";
@import "codemirror/lib/codemirror.css";

span.user-label {
    display: inline-block;
    min-width: 180px;
    font-weight: bold;
}

.user-item {
    background: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.admin-view {
    position: relative;
}

.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    text-align: center;
    z-index: 9999;
}

.loader {
    font-size: 3em;
    position: fixed;
    z-index: 99999;
    bottom: 80px;
}
