body {
    background: #ecf0f1;
    font-family: "Monaco", monospace;
    color: #444;
}

img {
    width: 30%;
    max-width: 100%;
}

.box {
    font-size: 18px;
    max-width: 610px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #e2e2e2;
    padding: 60px 30px;
    background: #fff;
    box-shadow: 0 7px 110px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    line-height: 25px;
}

p {
    margin-top: 50px;
}

a {
    color: #222;
}

hr {
    border-top: 1px solid #111;
}
